[submodule "datasets/yago-annotated-facts"]
	path = datasets/yago-annotated-facts
	url = ../dataset-yago-annotated-facts
[submodule "datasets/lod-katrina"]
	path = datasets/lod-katrina
	url = ../dataset-lod-katrina
[submodule "datasets/politiquices"]
	path = datasets/politiquices
	url = ../dataset-politiquices
[submodule "datasets/nanopubs"]
	path = datasets/nanopubs
	url = ../dataset-nanopubs
[submodule "datasets/linked-spending"]
	path = datasets/linked-spending
	url = ../dataset-linked-spending
[submodule "datasets/citypulse-traffic"]
	path = datasets/citypulse-traffic
	url = ../dataset-citypulse-traffic
[submodule "datasets/citypulse-traffic-graphs"]
	path = datasets/citypulse-traffic-graphs
	url = ../dataset-citypulse-traffic-graphs
[submodule "datasets/digital-agenda-indicators"]
	path = datasets/digital-agenda-indicators
	url = ../dataset-digital-agenda-indicators
