[submodule "datasets/example-triples"]
	path = datasets/example-triples
	url = ../dataset-example-triples
[submodule "datasets/yago-annotated-facts"]
	path = datasets/yago-annotated-facts
	url = ../dataset-yago-annotated-facts
[submodule "datasets/lod-katrina"]
	path = datasets/lod-katrina
	url = ../dataset-lod-katrina
